label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: #a1a1aa;
}

input,
textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  outline: none;
  transition: 0.25s;
}

input:focus,
textarea:focus {
  background: rgba(255,255,255,0.12);
  box-shadow: 0 0 10px rgba(110,231,255,0.3);
}